h1, h2, h3 , h4, h5, h6 {
  font-family: 'Anton', sans-serif;
}
p {
  font-family: 'Jura', sans-serif;
}

  

.customNav {
  position: fixed;
  width: 100%;
  background-color: rgb(224, 84, 84) !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 80px;
}
.nav-item {
  margin: 0px 15px;
}
/* Navigation links */
.customNav a {
  color: rgb(255, 255, 255) !important;
}
.navCTA {
  font-size: 15px;
}


.container{
  
  padding-top: 10%;
  max-width: 70%;
  align-content: center;
  justify-items: center;
  color: rgb(31, 30, 30);
}

footer {

  background-color:  rgb(224, 84, 84);
  height: 200px;
  margin-top: 50px;
  padding-top: 5%;
  color: white;
  max-width: 100%;
}
ul{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  list-style: none;
  
  
}
.sectionHeading {
  text-align: center !important;

}
a{
  color:white;
}