h1, h2, h3 , h4, h5, h6 {
  font-family: 'Anton', sans-serif;
}
p {
  font-family: 'Jura', sans-serif;
}

  

.customNav {
  position: fixed;
  width: 100%;
  background-color: rgb(224, 84, 84) !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-bottom: 10px;
  padding-right: 15px;
  width:100px;
}
.nav-item {
  margin: 0px 15px ;
  
}
/* Navigation links */
.customNav a {
  color: rgb(255, 255, 255) !important;
}
.navCTA {
  font-size: 15px;
}


.container{
  
  padding-top: 10%;
  max-width:100%;
  align-content: center;
  justify-items: center;
  color: rgb(31, 30, 30);
  
}
.headerTxt{
  font-size: 30px;
}
footer {

  background-color:  rgb(224, 84, 84);
  height: 200px;
  margin-top: 50px;
  padding-top: 5%;
  color: white;
  
}
ul{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  list-style: none;
  
  
}

a{
  color:white;
}
/* Cards */
.content {
  padding-top: 100px;
  padding-left: 0px;
  
}
.sectionHeading {
  text-align: center;
  
}
.skills  {
  padding: 0px 30px 30px 30px;
}
.cardContainer {
  text-align: center;
  align-items: center;
  
}
.cardContainer img{
  display: block;
  width:30%;
  margin: auto;
  
}
.card{
  background-color: rgb(187, 181, 183);
}
.sideAccent {
  background: #007bff;
  width: 15px;
}
.imageContainer img {
  width: 100%;
}
.imageContainer {
  padding: 50px;
}
.valueProp {
  margin-top: 15px;
  margin-bottom: 15px;
}
